<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Tarea</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="primos">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Actividad 12
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="contador">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Actividad 11
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="actividades">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Actividad 13
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="playlist">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Actividad 14
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ACT15">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Actividad 15

            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inventario">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Productos

            </NavLink>
        </div>

    </nav>
</div>

